.main-footer {
  background: #000;
  text-align: center;
  color: #fff;
}

.term {
  font-size: 20px;
  text-indent: 140px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

.definition {
  font-size: 19px;
  text-indent: 180px;
  text-align: left;
  border-radius: 50px;
}

.resource {
  font-size: 20px;
  text-indent: 200px;
  text-align: left;
}